@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --bg-col-other: #DF678C;
    --text-col: #fff;
    --bg-col: #3D155F;
}




body {
    background-color: var(--bg-col-other);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
    overflow: hidden;
}

.timer {
    background-color: var(--bg-col);
    color: var(--bg-col-other);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.timer h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

.timer h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.timer .button {
    background-color: var(--bg-col-other);
    color: var(--bg-col);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
    border: 0.5px solid var(--bg-col);
    transition: all 0.3s ease-in-out;
}

.timer .button:hover {
    background-color: var(--bg-col);
    color: var(--bg-col-other);
    border: 0.5px solid var(--bg-col-other);
}

.timer .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.user-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-input input {
    width: 100px;
    height: 30px;
    border: 1px solid var(--bg-col);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--bg-col-other);
    background-color: var(--bg-col);
    transition: all 0.3s ease-in-out;
}

.user-input .button {
    background-color: var(--bg-col-other);
    color: var(--bg-col);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
    border: 0.5px solid var(--bg-col);
    transition: all 0.3s ease-in-out;
    /* animation: button-animation 5s ease-in-out infinite; */
}

.user-input .button:hover {
    background-color: var(--bg-col);
    color: var(--bg-col-other);
    border: 0.5px solid var(--bg-col-other);
    animation: none;
}

.user-input-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.user-input input .disabled {
    background-color: grey;
    color: var(--bg-col-other);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--bg-col-other);
    background-color: var(--bg-col);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    .timer {
        height: 100vh;
    }

    .timer h1 {
        font-size: 3rem;
    }

    .timer h2 {
        font-size: 1.5rem;
    }

    .timer .button {
        font-size: 1.5rem;
    }

    .user-input {
        display: grid;
        width: 80%;
    }

    .user-input .button {
        font-size: 1.5rem;
        width: 40%;
    }
}

@keyframes button-animation {
    0% {
        background-color: var(--bg-col);
        color: var(--bg-col-other);
    }

    50% {
        background-color: var(--bg-col-other);
        color: var(--bg-col);
    }

    100% {
        background-color: var(--bg-col);
        color: var(--bg-col-other);
    }
}